
.SelectorButton {
    padding: 16px 22px;
    font-size: 17px;
    border: 1px solid #dcdcdc;
    margin-right: 16px;
    &.Selected {
        border: 1px solid rgb(231, 118, 0);
        color: rgb(231, 118, 0);
        box-shadow: 1px 1px 10px rgb(231, 118, 0 / 40%);
        font-weight: bolder;
        background: rgba(231, 118, 0, .05);
    }
}